
<script language="JavaScript">
	function changeImage(imageName,imageFileName){
		document.images[imageName].src=imageFileName; 
	}
</script>

<div class="backgroundresim">
	<div class = "hakkimizdatitle">
		HAKKIMIZDA
	</div>
	<div class = "kisiler">

		<div class = "bosluk">
		</div>
		
		<div class = "bosluk" >
		</div>
		<div class = "fotolar">
			<img class = "cartoonresim" name = "alperresim" src="image/kaynak/AlperCartoon2.png" height="300" alt="Alper" onMouseOver="changeImage('alperresim','image/kaynak/Alperorj2.png')" onmouseout="changeImage('alperresim','image/kaynak/AlperCartoon2.png')" />
			<br/>
			<br/>
			Alper Şahbaz
			<div class = "emailyazi">
				alpersahbaz17@gmail.com 
			</div>
		</div>
		<div class = "bosluk" >
		</div>
	</div>
	<div class = "hakkimizdatitleson">
		<br/>
		Bu site Gebze Teknik Üniversitesi Bilgisayar Mühendisliği İnternet Teknolojileri dersi kapsamında Alper Şahbaz tarafından oluşturulmuştur. 
		<p class = "emailyazi">
		Ticari bir amacç yoktur. 
	</div>

</div>