.dis_bolme {
}
.yuzdeLeft{
	float:left;
	width:18%;
	text-align: center;
	background-color:#6FC6EE;
    padding-bottom: 500em;
    margin-bottom: -500em;
}
.yuzdeMid {
	width: 62%;
	float: left;
	min-height: 250px;
    padding-bottom: 500em;
    margin-bottom: -500em;
	background-color: silver;
}
.yuzdeRight {
	float:left;
	width:20%;
	min-height:250px;
	text-align: center;
	background-color:#6FC6EE;
    padding-bottom: 500em;
    margin-bottom: -500em;
}
.footer {
	width:100%;
	height:60px;
	float:left;
	background-color:#BCBCBC;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: black;
}
.solpencere {
	width: 250px;
	background-image:url(../image/arabalarbgtr.png);
	background-repeat: repeat-y;
	font-size: 11pt;
    padding-bottom: 500em;
    margin-bottom: -500em;
}
.sagpencere {
	width: 250px;
	background-image:url(../image/arabalarbgtr.png);
	background-repeat: repeat-y;
	font-size: 11pt;
    padding-bottom: 500em;
    margin-bottom: -500em;
}

.container {
	overflow: hidden;
}


.newswrapper {
	width: 100%;
	float: left;
	text-align: center;
}

.newsmaintitle {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 22pt;
	font-weight: bold;
}

.newsyok  {
	width: 100%;
	float: left;
	text-align: center;
	vertical-align: center;
	font-size: 14pt;
	font-style: italic;
}

.newsalldiv {
	width: 100%;
	float: left;
	text-align: center;
	vertical-align: center;
}

.newsalltable {
	width: 70%;
	float: left;
	text-align: center;
}

.newsempty {
	width: 15%;
	float: left;
	min-height: 100px;
}

.newstablerowempty {
	height: 25px;
}

.newstablerow {
	width: 100%;
	height: 100px;
	background-color: orange;
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
	padding-bottom: 25px;
}

.newstablecellimg {
	min-width: 15%;
	text-align: center;
}

.newsimg {
	width: 100%;
}

.newstablecontent {
	width: 95%;
	padding-left: 15px;
	padding-top: 5px;
	height: 100px;
	float: left;
	cursor: pointer;
}

.newstabletitle {
	width: 100%;
	height: 25px;
	float: left;
	font-weight: bold;
	text-align: left;
	background-color: orangered;
	border-radius: 8px;
}

.newstablesummary {
	width: 100%;
	height: 55px;
	float: left;
	font-size: 11pt;
	font-style: italic;
	text-align: justify;
}

.newstablewriter {
	width: 100%;
	float: left;
	font-size: 10pt;
	text-align: right;
}

.newsalltable a:hover {
	font-weight: normal;
    text-shadow: 1px 1px orangered;
}

.newsaddtitle {
	width: 80%;
	float: left;
	text-align: right;
}

.newstitlediv {
	width: 100%;
	height: 80px;
	float: left;
	font-weight: bold;
	font-size: 18pt;
	text-align: center;
	padding-top: 25px;
}

.newstextdiv {
	width: calc(100% - 200px);
	min-height: 100px;
	float: left;
	text-indent: 20px;
	text-align: justify;
	padding-left: 100px;
	padding-right: 100px;
}

.newstimediv {
	width: 100%;
	height: 40px;
	float: left;
	font-style: italic;
	text-align: left;
	padding-left: 100px;
}

.newsuser {
	width: calc(100% - 50px);
	height: 40px;
	float: left;
	text-align: right;
	padding-top: 20px;
}

.newnew {
	padding-left: 100px;
	text-align: left;
}

.newsinputtitle {
	width: 60%;
	height: 30px;
	font-weight: bold;
	background-color: #EEEEEE;
	border-radius: 8px;
	padding-left: 10px;
}

.newsinputempty {
	width: 70%;
	height: 40px;
}

.newsinputtext {
	min-width: 70%;
	max-width: 70%;
	min-height: 250px;
	max-height: 250px;
	vertical-align: top;
	text-align: top;
	background-color: #EEEEEE;
	border-radius: 8px;
	padding-left: 10px;
	padding-top: 10px;
}

.btnnews {
	cursor: pointer;
}
.btnnews:hover{
	 zoom: 1.05;
	 -moz-transform: scale(1.05);
}

.btnnewsdiv {
	padding-top: 50px;
	width: 70%;
	height: 30px;
	text-align: right;
}

.newscommentsdiv {
	width: 100%;
	float: left;
	padding-top: 30px;
	padding-bottom: 10px;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: black;
	border-top-width: 1px;
	border-top-style: solid;
}

.commentinputtext {
	min-width: 70%;
	max-width: 70%;
	min-height: 70px;
	max-height: 70px;
	vertical-align: top;
	text-align: top;
	background-color: #EEEEEE;
	border-radius: 8px;
	padding-left: 10px;
	padding-top: 10px;
}

.btnnewsdiv {
	padding-top: 20px;
	width: 85%;
	height: 30px;
	text-align: right;	
}

.btncomment {
	cursor: pointer;
}
.btncomment:hover{
	 zoom: 1.05;
	 -moz-transform: scale(1.05);
}

.newscommenttitle {
	width: 70%;
	float: left;
	padding-left: 15%;
	text-align: left;
	vertical-align: center;
	min-height: 40px;
	font-weight: bold;
	font-size: 14pt;
}

.newscommentalldiv {
	min-width: 70%;
	max-width: 70%;
	padding-left: 15%;
	padding-top: 20px;
	padding-bottom: 40px;
	float: left;
	text-align: justify;
	font-style: italic;
}

.modelgoback {
	width: 100%;
	height: 30px;
	float: left;
	text-align: left;
	padding-top: 5px;
	padding-left: 30px;
}

.gobackbutton {
	cursor: pointer;
}
.gobackbutton:hover {
	zoom: 1.05;
	-moz-transform: scale(1.05);
}

.modelminipict {
	width: 100%;
	height: 100px;
	float: left;
	vertical-align: center;
	text-align: center;
	background-color: #DFDFDF;
	padding-top: 20px;
}

.modelpict {
	width: 100%;
	height: 500px;
	background-color: #DDDDDD;
	text-align: center;
}

.modelprop {
	width: 100%;
	height: 300px;
	float: left;
	padding-top: 20px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: darkgray;
	background-color: #AABBCC;
	text-align: center;
	vertical-align: center;
}

.modelproptable {
	width: 90%;
	float: left;
	border-collapse: collapse;
	background-color: #C5C5C5;
}

.modelproportalaempty {
	width: 4%;
	height: 100px;
	float: left;
}

.modelproptable th {
	font-size: 18pt;
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	padding: 8px;
}

.modelproptable td {
	font-size: 14pt;
	border-width: 1px;
	border-style: solid;
	padding-top: 8px;
	padding-bottom: 8px;
}

.modeltitle {
	width: 25%;
	font-weight: bold;
}

.modelres {
	font-style: italic;
}
.kaydolback {
	width: 100%;
	float: left;
	text-align: center;
	vertical-align: center;
}
.kaydolempty {
	width: 100%;
	height: 50px;
	float: left;
}
.kaydolyazi {
	font-size: 12pt;
	font-family: Verdana;
	font-style: italic;
	padding-left: 70px;
	padding-right: 70px;
	text-align: justify;
}

.kaydolyazi p {
	text-indent: 20px;
	padding-bottom: 12px;
}

.kaydolortalaempty {
	width: 25%;
	height: 450px;
	float: left;
}
.kaydoltable {
	width: 50%;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: #667788;
	border-radius: 8px;
}
.kaydolstar {
	width: 5%;
}

.kaydolhucre{
	height: 25px;
    font-size: 11px;
	font-family:Verdana;
	font-weight: bold;
    text-align: left;
    padding: 2px;
	padding-left: 4px;
    background: #38ACEC;
	border-style: solid;
	border-color: #660000;
	border-radius: 8px;
	border-width: 3px;
	box-shadow: 3px 3px 3px #232425;
}
.kaydolresim{
	height: 25px;
	position: relative;
    left: -40px;
}
.kaydolinputlar{
	width: 100%;
	height: 25px;
	box-shadow: 3px 3px 3px #232425;
	border-style: solid;
	border-color: #660000;
	border-radius: 8px;
	
}